node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# playwright
.playwright-cli/
playwright-report/
blob-report/
test-results/
playwright/.auth/
playwright/.cache/
playwright/.tmp/
*.playwright-report
*.playwright-trace

# typescript
*.tsbuildinfo
.vercel
